@page "/administrar"
@using BlazorFMS.Data
@using BlazorFMS.Data.BlazorFMS

@inject AuthenticationStateProvider AuthenticationStateProvider

@inherits OwningComponentBase<AdministrarSucursalesServices>
<h1>Administrar Sucursal</h1>

<AuthorizeView>
    <!-- Show this section if the user is logged in -->
    <Authorized>
        <h4>Hola, @context.User.Identity?.Name!</h4>
        @if (Detsucursales == null)
        {
            <!-- Show this if the current user has no data... yet... -->
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>ID Sucursal</th>
                        <th>Nombre Colaborador</th>
                        <th>DistanciaKilometros</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Detsucursales in Detsucursales)
                    {
                        <tr>
                            <td value="@Detsucursales.SucursalId">@objSucursales.Nombre</td>
                            <td value="@Detsucursales.ColaboradorId">@objColaborador.Nombre</td>
                            <td>@Detsucursales.DistanciaKilometros</td>

                            <td>
                                <!-- Edit the current forecast -->
                                <button class="btn btn-primary"
                                @onclick="(() => EditDetalle(Detsucursales))">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                <button class="btn btn-primary" @onclick="AddNewDet">Agregar nueva Sucursal</button>
            </p>
            @if (ShowPopup)
            {
                <div class="modal" tabindex="-1" style="display:block" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Sucursal</h3>
                                <!-- Button to close the popup -->
                                <button type="button" class="close"
                                @onclick="ClosePopup">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <!-- Edit form for the current forecast -->
                            <EditForm Context="formContext"
                              Model="objDetalles"
                              OnValidSubmit="SaveDet">
                                <DataAnnotationsValidator />
                                <ul class="validation-errors">
                                    @foreach (
                                   var message in formContext.GetValidationMessages()
                                   .Where(x => !x.Contains("Colaborador")))
                                    {
                                        <li class="validation-message">@message</li>
                                    }
                                </ul>
                                <div class="modal-body">

                                    <p>
                                        <label for="SucursalId">Sucursal: </label>
                                        <InputSelect id="SucursalId" class="form-control"
                                             @bind-Value="objSucursales.SucursalId">
                                            @foreach (var sucursales in sucursales)
                                            {
                                                <option value="@sucursales.SucursalId">@sucursales.Nombre</option>
                                            }

                                        </InputSelect>
                                        <ValidationMessage For="@(() => objSucursales.SucursalId)" />
                                    </p>

                                    <p>
                                        <label for="ColaboradorId">Colaborador: </label>
                                        <InputSelect id="ColaboradorId" class="form-control"
                                             @bind-Value="objColaborador.ColaboradorId">
                                            @foreach (var colaborador in colaboradores)
                                            {
                                                <option value="@colaborador.ColaboradorId">@colaborador.Nombre</option>
                                            }

                                        </InputSelect>
                                        <ValidationMessage For="@(() => objColaborador.ColaboradorId)" />
                                    </p>


                                    <p>
                                        <label for="DistanciaKilometros">Distancia Kilometros: </label>
                                        <InputNumber id="DistanciaKilometros" class="form-control"
                                             placeholder="DistanciaKilometros"
                                             @bind-Value="objDetalles.DistanciaKilometros" />
                                    </p>


                                    <br />

                                    <button class="btn btn-primary"
                                    type="submit">
                                        Save
                                    </button>

                                    @if (objDetalles.SucursalDetalleId > 0)
                                    {

                                        <button class="btn btn-primary">

                                            Delete
                                        </button>
                                    }
                                </div>

                            </EditForm>


                        </div>
                    </div>
                </div>

            }

        }


    </Authorized>

    <!-- Show this section if the user is not logged in -->
    <NotAuthorized>
        <p>Inicia Sesión Para Acceder.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    List<SucursalDetalle> Detsucursales = new List<SucursalDetalle>();
    List<Colaboradores> colaboradores = new List<Colaboradores>();
    List<Sucursales> sucursales = new List<Sucursales>();

    private string UserIdentityName = "";
    protected override async Task OnInitializedAsync()
    {
        // Get the current user
        if (authenticationStateTask != null)
        {
            var user = (await authenticationStateTask).User;
            if (user.Identity != null)
            {
                UserIdentityName = user.Identity.Name ?? "";
            }
        }
        Detsucursales = await @Service.GetDetalleAsync(UserIdentityName);

        colaboradores = await @Service.GetColaboradoresAsync(UserIdentityName);

        sucursales = await @Service.GetSucursalesAsync(UserIdentityName);
    }


    SucursalDetalle objDetalles = new SucursalDetalle();
    Colaboradores objColaborador = new Colaboradores();
    Sucursales objSucursales = new Sucursales();

    bool ShowPopup = false;
    void ClosePopup()
    {
        // Close the Popup
        ShowPopup = false;
    }
    void AddNewDet()
    {
        // Make new forecast
        objDetalles = new SucursalDetalle();
        // Set Id to 0 so we know it is a new record
        objDetalles.SucursalDetalleId = 0;
        // Open the Popup
        ShowPopup = true;
    }


    async Task SaveDet()
    {
        // Close the Popup
        ShowPopup = false;

        if (objDetalles.SucursalDetalleId == 0)
        {

            SucursalDetalle objNewDet = new SucursalDetalle();
            objNewDet.ColaboradorId = objDetalles.ColaboradorId;
            objNewDet.SucursalId = objDetalles.SucursalId;
            objNewDet.DistanciaKilometros = objDetalles.DistanciaKilometros;
            objNewDet.UserName = UserIdentityName;
            var result =
            @Service.CreateDetalleAsync(objNewDet);
        }
        else
        {
            var result =
          @Service.UpdateDetalleAsync(objDetalles);
        }
        // Get the forecasts for the current user
        Detsucursales =
        await @Service.GetDetalleAsync(UserIdentityName);

    }


    void EditDetalle(SucursalDetalle detalles)
    {

        objDetalles = detalles;
        // Open the Popup
        ShowPopup = true;
    }
}
