@page "/sucursaless"
@using BlazorFMS.Data
@using BlazorFMS.Data.BlazorFMS

@inject AuthenticationStateProvider AuthenticationStateProvider

@inherits OwningComponentBase<SucursalService>
<h1>Sucursal</h1>

<AuthorizeView>
    <!-- Show this section if the user is logged in -->
    <Authorized>
        <h4>Hola, @context.User.Identity?.Name!</h4>
        @if (sucursales == null)
        {
            <!-- Show this if the current user has no data... yet... -->
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Sucursal ID</th>
                        <th>Nombre</th>
                        <th>Ubicacion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sucursales in sucursales)
                    {
                        <tr>
                            <td>@sucursales.SucursalId</td>
                            <td>@sucursales.Nombre</td>
                            <td>@sucursales.Ubicacion</td>
                            <td>
                                <!-- Edit the current forecast -->
                                <button class="btn btn-primary"
                                @onclick="(() => EditSucursal(sucursales))">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                <button class="btn btn-primary" @onclick="AddNewSucursal">Agregar nueva Sucursal</button>
            </p>
            @if (ShowPopup)
            {
                <div class="modal" tabindex="-1" style="display:block" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Sucursal</h3>
                                <!-- Button to close the popup -->
                                <button type="button" class="close"
                                @onclick="ClosePopup">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <!-- Edit form for the current forecast -->
                            <div class="modal-body">
                                <div class="form-container">

                                    <div class="form-group">
                                        <label for="nombre">Nombre:</label>
                                        <input class="form-control" type="text" placeholder="Nombre" @bind="objSucursales.Nombre" />
                                    </div>

                                    <div class="form-group">
                                        <label for="direccion">Ubicacion</label>
                                        <input class="form-control" type="text" id="direccion" @bind="objSucursales.Ubicacion" />
                                    </div>
                                </div>
                                <br />
                                <!-- Button to save the forecast -->
                                <button class="btn btn-success"
                                @onclick="SaveSucursal">
                                    Save
                                </button>&nbsp;
                                @if (objSucursales.SucursalId > 0)
                                {
                                    <!-- Button to delete the forecast -->
                                    <button class="btn btn-danger"
                                @onclick="DeleteSucursal">
                                        Delete
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @if (ShowPopup)
                {

                }
            }

        }


    </Authorized>

    <!-- Show this section if the user is not logged in -->
    <NotAuthorized>
        <p>Inicia Sesión Para Acceder.</p>
    </NotAuthorized>
</AuthorizeView>



@code {


    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    List<Sucursales> sucursales = new List<Sucursales>();
    private string UserIdentityName = "";
    protected override async Task OnInitializedAsync()
    {
        // Get the current user
        if (authenticationStateTask != null)
        {
            var user = (await authenticationStateTask).User;
            if (user.Identity != null)
            {
                UserIdentityName = user.Identity.Name ?? "";
            }
        }
        sucursales = await @Service.GetSucursalAsync(UserIdentityName);
    }


    Sucursales objSucursales = new Sucursales();

    bool ShowPopup = false;
    void ClosePopup()
    {
        // Close the Popup
        ShowPopup = false;
    }
    void AddNewSucursal()
    {
        // Make new forecast
        objSucursales = new Sucursales();
        // Set Id to 0 so we know it is a new record
        objSucursales.SucursalId = 0;
        // Open the Popup
        ShowPopup = true;
    }
    async Task SaveSucursal()
    {
        // Close the Popup
        ShowPopup = false;

        if (objSucursales.SucursalId == 0)
        {

            Sucursales objNewSucursales = new Sucursales();
            objNewSucursales.Nombre = objSucursales.Nombre;
            objNewSucursales.Ubicacion = objSucursales.Ubicacion;
            objNewSucursales.UserName = UserIdentityName;
            var result =
            @Service.CreateSucursalAsync(objNewSucursales);
        }
        else
        {
            var result =
          @Service.UpdateSucursalAsync(objSucursales);
        }
        // Get the forecasts for the current user
        sucursales =
        await @Service.GetSucursalAsync(UserIdentityName);

    }
    void EditSucursal(Sucursales sucursales)
    {

        objSucursales = sucursales;
        // Open the Popup
        ShowPopup = true;
    }

    async Task DeleteSucursal()
    {

        ShowPopup = false;

        var result = @Service.DeleteSucursalAsync(objSucursales);

        sucursales =
        await @Service.GetSucursalAsync(UserIdentityName);
    }
}
